<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.torrent.zuel.recruitment.mapper.mybatis.ProjectHistoryMapper">

    <insert id="insertProjectHistory" parameterType="com.torrent.zuel.recruitment.model.entity.ProjectHistoryDO">
        insert into project_history(stu_uni_code, project_name, project_begin_time, project_end_time, project_detail)
        values (#{stuUniCode}, #{projectName}, #{projectBeginTime}, #{projectEndTime}, #{projectDetail})
    </insert>

    <update id="updateProjectHistory" parameterType="com.torrent.zuel.recruitment.model.entity.ProjectHistoryDO">
        update project_history
        <set>
            <if test="projectName!=null">project_name=#{projectName},</if>
            <if test="projectBeginTime!=null">project_begin_time=#{projectBeginTime},</if>
            <if test="projectDetail!=null">project_detail=#{projectDetail},</if>
            <if test="projectEndTime!=null">project_end_time=#{projectEndTime},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteProjectHistory" parameterType="java.lang.Long">
        delete
        from project_history
        where id = #{id}
    </delete>

    <select id="listProjectHistory" parameterType="java.util.List" resultType="com.torrent.zuel.recruitment.model.entity.ProjectHistoryDO">
        select *
        from project_history
        where stu_uni_code = #{stuUniCode}
    </select>
</mapper>
